<div class="container-fluid backgd5">
    <div class="row">
        <p class="bgdwrite">FILL THE FORM BELOW TO GET STARTED.</p>
        <p class="write">If you have any questions, please let us know.</p>

        <div class="textbox">
            <input class="txt" type="text" placeholder="Name"> 
            
            <input class="txt" type="text" placeholder="EMAIL">

            <button class="button">START NOW!</button>

        </div>
    </div>


</div>



<div class="container-fluid backgd6">
    <div class="row">
        <div class="col-4">
            <p class ="footer1">SUPPORT</p>
            <p class ="footer">CONTACT US</p>
            <p class ="footer">FAQ</p>
            <p class ="footer">Download</p>


           
            

        </div>
        
        <div class="col-4">
            
           
                <img class="img" src="../../assets/tablet svgrepo.png">
            
        </div>
        <div class="col-4">
            <img class="img1" src="../../assets/facebook.png">
            <img class="img1" src="../../assets/twitter.png">
            <img class="img1" src="../../assets/linkedin.png">
            <img class="img1" src="../../assets/youtube.png">


           

        </div>
        
        <div style="height: 1px; background-color: rgb(255, 249, 249); width:1450px;"></div>
        <p class="foot">Copyright © 2010-2024 Illustration Company S.L. All rights reserved.</p>
     
        
    </div>
    </div>
