.backgd5{
    background-color:wheat;
    height: 300px;
}
.bgdwrite{
    text-align: center;
    color: rgb(175, 33, 33);
    margin-top: 45px;
    font-size: 20px;
    font-family: "Poetsen One", sans-serif;
}
.write{
    text-align: center;
}
.textbox{
    text-align: center; 
}
.txt{
    border:rgb(236, 224, 8); ;
    height: 50px;
    width: 270px;
}
.button{
    height: 50px;
    width: 200px;
    color: white;
    border: 0px;
    background-color: rgb(31, 195, 31);
    
}
button:hover{
    background-color: #422f65;
}
.backgd6{
    background-color:#422f65;
    height: 300px;
    position: sticky;
}
.backgd7{
    background-color:#4e1d1d;
    height: 300px;
}

.footer1{
    color: aliceblue;
    font-family: "Poetsen One", sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: 74px;
}
.footer{
    color: white;
    text-align: center;
}

.img{
    text-align: center;
    margin-top: 120px;
    height:50px;
    margin-left: 200px;

}
.img1{
    height:20px;
    width: 20px;
    margin-left: 32px;
    margin-top: 138px;
}
.foot{
    text-align: center;
    color: white;
}