<div class="container-fluid backgd1">
    <div class="row">
        <div class="col-12">
         <div class="container">
            <div class="row">
                <div class="col-6">
                    <img class="butterfly" src="../../assets/butterfly.jpg">
                
            
         </div>
         
            
                <div class="col-6">
                    <p class="para2">HOW WE WORK </p>
                    <p class="para3">Aenean imperdiet. Etiam ultricies nisi vel augue.
                        Curabitur ullamcorper ultricies nisi. Nam eget dui.
                        Etiam rhoncus. Maecenas tempus, tellus eget
                        condimentum rhoncus, sem quam semper libero,
                        sit amet adipiscing sem neque sed ipsum.</p>
                        <button class="button1">LEARN MORE</button>
        </div>
        </div>
</div>
        </div>
        </div>
</div>