<div class="container-fluid backgd2">
    <div class="row">
        <div class="col-12">
            <p class="heading">WHAT SERVICES WE PROVIDE</p>
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <div class="draw">
                        <img class="tablet" src="../../assets/tablet draw.jpg">
                        <p class="tab">Illustration</p>
                        <p class="words">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. In fermentum posuere urna nec tincidunt praesent semper feugiat nibh.</p>

                    </div>
                    </div>
                    
                    <div class="col-6">
                        <div class="anime">
                        <img class="tablet" src="../../assets/anime.jpg">
                        <p class="tab">ANIMATION</p>
                        <p class="words">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. In fermentum posuere urna nec tincidunt praesent semper feugiat nibh.</p>

                    </div>
                    </div>
                   
                   

            </div>

            </div>
            <br>
            <br>
            <br>
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <div class="grap">
                        <img class="tablet" src="../../assets/grd.jpg">
                        <p class="tab">Graphic design</p>
                        <p class="words">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. In fermentum posuere urna nec tincidunt praesent semper feugiat nibh.</p>

                </div>
            </div>
                <div class="col-6">
                    <div class="online">
                    <img class="tablet" src="../../assets/online.jpg">
                   
                    <p class="tab">ONLINE SCHOOL</p>
                    <p class="words">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. In fermentum posuere urna nec tincidunt praesent semper feugiat nibh.</p>
                    </div>
            </div>
                </div>
            </div>
            </div>
</div>

</div>
