<div class="container-fluid backgd3">
    <div class="row">
        <div class="col-6">
            <p class="para6">LATEST WORKS</p>
            <p class="para7">Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui.Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum</p>

</div>
<div class="col-6">
    <img class="painting" src="../../assets/painting.jpg">


</div>
    </div>
    <div class="container">
        <div class="row">
<div class="col-6">
    <img class="potraits" src="../../assets/potraits.jpg">
</div>
    <div class="col-6">
        <p class="para9">Concept Art.</p>
        <p class="para10">Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui.Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum.</p>
        <button class="button1">SHOW MORE</button>
</div>
    </div>
</div>
</div>