<div class="container-fluid backgd4">
    <div class="row">
       <div class="meet">MEET THE TEAM</div>
      
       <div class="col-4">
       
<div class="card" style="width: 18rem; height: 55rem; margin-left: 72px">
<img src="../../assets/person1.jpg" class="card-img-top" alt="...">
<div class="card-body">
  <p class="card-text">Stella</p>
  <p class="worktype">GRAPHIC DESIGNER</p>
  <p>Main</p>
  <div style="height: 1px; background-color: black; width:250px; "></div>
  <p>Neque laoreet suspendisse interdum consectetur libero id faucibus. Rutrum quisque non tellus orci ac auctor augue mauris.</p>
  <p>FUN</p>
  <div style="height: 1px; background-color: black; width:250px;"></div><br>
  <p>Volutpat blandit aliquam etiam erat velit scelerisque in dictum. </p>

</div>
</div>
</div>


<div class="col-4">
       
    <div class="card" style="width: 18rem; height: 55rem;margin-left: 60px">
        <img src="../../assets/person2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Isabelle</p>
          <p class="worktype">ARTIST</p>
          <p>Main</p>
          <div style="height: 1px; background-color: black; width:250px;"></div>
          <p>Id eu nisl nunc mi ipsum faucibus vitae aliquet. Egestas tellus rutrum tellus pellentesque eu tincidunt.</p>
          <p>FUN</p>
          <div style="height: 1px; background-color: black; width:250px;"></div><br>
         <p> Aenean massa. Cum sociis natoque penatibus et magnis dis parturient</p>
        </div>
      </div>
        </div>

        <div class="col-4">
       
            <div class="card" style="width: 18rem; height: 55rem; margin-left: 60px" >
                <img src="../../assets/person3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Richard</p>
                  <p class="worktype">ILLUSTRATOR</p>
                  <p>Main</p>
                  <div style="height: 1px; background-color: black; width:250px;"></div>
                  <p>Tempor commodo ullamcorper a lacus vestibulum sed.</p>
                  <p>FUN</p>
                  <div style="height: 1px; background-color: black; width:250px;"></div><br>
                  <p>Pellentesque id nibh tortor id.</p>
                </div>
              </div>
                </div>


</div>
